<!DOCTYPE html>
<html>

<head>
    <title>Email Confirmation</title>
</head>

<body>
    <h1>Hello <%= user.name  %> </h1>
    <p>Please reset your passord.</p>
    <a href="http://localhost:8000/api/auth/reset-password/<%= confirm_code  %>"> Please Click Here</a>
</body>

</html>
