<!DOCTYPE html>
<html lang="en">
<head>
  <title>HEllo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    body {
        background: #f1eded;
    }
    .title {
        margin: 10px;
        background: #e07214;
        color: #fff;
        padding: 15px 0px;
        border-radius: 5px;
        border-bottom: solid 7px #90531e;
    }
    .app-form {
        background: #fff;
        padding: 2% 3%;
        border-radius: 5px;
        border: solid 1px #e07214;
    }
    .app-form input, .app-form textarea {
        border: solid 1px #0a5b8a;
    }
    .app-form label {
        color: #0a5b8a;
        font-weight: 600;
    }
  </style>
</head>
<body>

<div class="container">
  <h2 class="text-center title">From view folder</h2>
  <%= params  %>
</div>

  <br/> <br/>


</div>

</body>
</html>